/target
Cargo.lock
deployments/*.json
!deployments/window-post-inputs.json
!deployments/winning-post-inputs.json
*.txt
.DS_Store
circom/*.r1cs
circom/*.sym
circom/*_js
.vscode
proof.json
rust-fil-proofs/target
